.header{
    color:rgb(247, 247, 247);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
    text-align: center;
    background-color: #3E197A;}

.animal{
    color: blanchedalmond;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hat{
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3E197A;
  }

  .app {
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 580px;
    height: 714px;
    background: #E7DFFF;
    border-radius: 40px;
  }

  #main-canvas{
    background: #ccc;
    background: url('./Images/bg-canvas.png');
    background-repeat: repeat;
    border:1px solid #ececec;
    margin: 10px auto;
    display: block;
  
  }
  
  .main {
      padding: 1em 2em 2em 2em;
  }
  
  /* @media (min-width: 769px) {
    .jumbotron {
      height: 200px;
    } */
  
  /* } */