.navbar {
    background: #482FAF;
    display: flex;
    font-size: 1.4rem;
    position: relative;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-logo {
    margin-left: 20px;
    display: inline-block;
    width: 200px;
  }

  .navbar-button-red a {
    color: white;
    text-decoration: none;
  }

  .navbar-button-green a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links {
    display:flex;
  }