.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
}

.messageText {
    border-radius: 20px;
    background-color: lightgray;
    max-width: 250px;
    padding: 10px;
    margin: 0;
}

.messageBottom {
    font-size: 12px;
}

.userName {
    font-weight: 500;
    color: #140650;
    margin-left: 10px;
    text-align: left;
}

.message.own {
    align-items: flex-end;
}

.message.own .messageText {
    background-color: #8A2BE290;
}

.message.own .userName {
    display: none;
}