.rooms {
    padding: 5px;
    border: 1px solid #bbb;
    background-color: rgb(203, 184, 221);
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 3.5%;
    position: relative;
    border-color:rgb(203, 184, 221);
    overflow-y: auto;
    height: 42vh;
}

.roombutton {
    font-size: 1.0em;
    text-decoration: none;
    color: #fff;
    position: relative;
    background-color: rgb(159, 136, 180);
    margin-bottom: 5px;
}

.rooms::-webkit-scrollbar-track {
    background: rgb(203, 184, 221);
}

.rooms::-webkit-scrollbar {
    width: 10px;
}

.rooms::-webkit-scrollbar-thumb {
    background-color:rgb(127, 109, 145);
    border-radius: 5px;
}