.friendbar {
    background: #140650;
    display: flex;
    position: relative;
    align-items: center;
    height: 210px;
    z-index: 500;
  }

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
    margin-left: 30px;
    position: relative;
    color: #fff;
}

.user-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 20px;
    margin-right: 100px;
    color: white;
}

.user-details div:first-child {
    margin-top: none;
}

.user-details div {
    margin-top: 5px;
}

.avatar {
    width: 300px;
    height: 300px;

}  

.customizeavatar {
    color: #000;
    margin: 10px;
    font-size: 0.7rem;
    font-weight: bold;
    width: 200px;
}

.members_container {
    background-color: rgb(154, 119, 182);
    color: white;
    border-radius: 5px;
    width: 875px;
    height: 150px;
    white-space: nowrap;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.members_container p {
    vertical-align: middle;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.status-on{
    color: greenyellow;
    text-decoration: underline;
}

.status-off{
    color: red;
    text-decoration: underline;
}

.member_avatar {
    margin-top: 5px;
    max-width: 100px;
}

div.invite-button {
    background-color: rgb(204, 204, 39);
    color:black;
    height: 50px;
}

.invite-button:hover {
    background-color: rgb(194, 194, 194);
}